/* accueil */

.accueil {
    min-height: 85vh;
    background-image: url('img/christmas.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: whiteSmoke;
    box-shadow: 4px -40px 60px 5px rgb(247, 192, 9) inset;
}

.sage {
    padding: 5% 0 0 5%;
}

.gelatine {
    animation: gelatine 0.5s infinite;
}

@keyframes gelatine {
    from,
    to {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}

.questionnaire {
    padding: 2% 0 0 25%;
}

.pulse {
    animation: pulse 1s infinite ease-in-out alternate;
}

@keyframes pulse {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1.2);
    }
}

.video {
    padding: 2% 0 0 5%;
}

.shake {
    animation: shake 2s ease infinite;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.video-page {
    color: white;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
    min-height: 85vh;
    margin: 0;
}

.video-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}